# Database Postgres (usato da Keycloak)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Autenticazione Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Ottieni la chiave da: https://console.groq.com/keys
GROQ_API_KEY=tuo-groq-api-key

# Ottieni il token da Hugging Face. 
# ATTENZIONE: Devi prima accettare le condizioni di utilizzo del modello qui:
# https://huggingface.co/meta-llama/Llama-Prompt-Guard-2-86M
HF_TOKEN=tuo-huggingface-token
